<?xml version="1.0"?>
<launch>


	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ORB_SLAM)/Data/rviz.rviz" output="log">
   </node>

 	<node pkg="ORB_SLAM" type="ORB_SLAM" name="ORB_SLAM"  args="Data/ORBvoc.yml Data/Settings.yaml" cwd="node" output="screen">
        <!-- <remap from="camera/image_raw" to="/camera/rgb/image_rect" /> 
         <remap from="camera/image_raw" to="image_raw" />-->
       
	
	<remap from="/image" to="/ORB_SLAM/Frame" />	
   </node>

</launch>
